*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

}
body{
    background-image: url(../images/forget\ password.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main{
    text-align: center;
     width: 610px;
    height: 250px; 
    color:#000;
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px rgb(255, 255, 255);
}
h2{
   color: whitesmoke;
   text-transform: uppercase;

}
.form-box input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #00ff00;
    padding: 12px 10px;
    width: 200px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px ;
    transition: 0.25s;
}
.form-box input[type="text"]:focus{
    width: 400px; 
    border-color: red;
}
.form-submit input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 12px 10px;
    width: 200px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px ;
    
}