@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Teko:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Zen+Dots&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    
}
body{
   
    background-image: url(../images/registration\ page.jfif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover ;
    background-size: cover;
    height: 100vh;
   
}
h1{
    font-family: 'Zen Dots', cursive;
    background-color: rgba(0, 0, 0, 0.4);
    width: 900px;
    margin: 0 20px;
    color: rgb(129, 129, 129);
    font-size: 16px;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
}
h2{
    font-family: 'Indie Flower', cursive;
}
.main{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
   
}
.register{
    text-align: right;
    width: 900px;
    margin: 19px auto;
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 20px 20px;
}

.name{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    width: 800px;

}
.name,
.gender{
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    width: 800px;
}
.name, .input,
.gender{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(41, 18, 247);
    padding: 10px;
    color: rgb(177, 177, 177);
    width: 100%;
}
.main, .register, .gender{
    text-align: right;
    
}
.main input[type=submit]{
    
    border: 2px;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px;
    height: 40px;
    background: rgb(255, 136, 0);
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-style: normal;
    width: 400px;
    transition: 0.25s;
}
.main input:hover{
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;  
}     
.main   input[type=submit]:hover{
        cursor: pointer;
}
.main a{
    font-size: 30px;
    text-decoration: none;
    color: #000;
    opacity: 0.8;
}
.main a:hover{
    color: #fff;
    opacity: 1;
}
