@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    background-image: url(../images/minton.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.main{
    width: 50%;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    padding: 10px 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: large;
    font-weight: 500;
}