<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
        <link rel="stylesheet" href="../static/css/style3.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    </head>
    <body>
        <div class="resume">
            <div class="resume_left">
              <div class="resume_profile">
                <img src="../static/images/DSC_0313 - Copy.png" alt="profile_pic">
              </div>
              <div class="resume_content">
                <div class="resume_item resume_info">
                  <div class="title">
                    <p class="bold">sivapandiyan</p>
                    <p class="regular">Fresher</p>
                  </div>
                  <ul>
                    <li>
                      <div class="icon">
                        <i class="fas fa-book"></i>
                      </div>
                      <div class="data">
                        Adhiyamaan College Of <br />Engineering
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fas fa-graduation-cap"></i>
                      </div>
                      <div class="data">
                        B.Tech <br/> Information Technology
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fas fa-envelope"></i>
                      </div>
                      <div class="data">
                        nivensiva@gmail.com<br/>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fas fa-phone"></i>
                      </div>
                      <div class="data">
                        +91 8524944041
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="resume_item resume_skills">
                  <div class="title">
                    <p class="bold">Skill Set</p>
                  </div>
                  <ul>
                    <li>
                      <div class="skill_name">
                        PYTHON & C
                      </div>
                      <div class="skill_progress">
                        <span style="width: 88%;"></span>
                      </div>
                     </li>
                    <li>
                      <div class="skill_name">
                        HTML & CSS
                      </div>
                      <div class="skill_progress">
                      </div>
                    </li>
                    <li>
                      <div class="skill_name">
                        LINUX
                      </div>
                      <div class="skill_progress">
                        <span style="width: 60%;"></span>
                      </div>
                    </li>
                    <li>
                      <div class="skill_name">
                        SQL
                      </div>
                      <div class="skill_progress">
                        <span style="width: 50%;"></span>
                      </div>
                    </li>
                    <li>
                      <div class="skill_name">
                        NET WORK
                      </div>
                      <div class="skill_progress">
                        <span style="width: 70%;"></span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="resume_item resume_social">
                  <div class="title">
                    <p class="bold">Social</p>
                  </div>
                  <ul>
                    <li>
                      <div class="icon">
                        <i class="fab fa-facebook-square"></i>
                      </div>
                      <div class="data">
                        <p class="semi-bold">Facebook</p>
                        <p>sivapandiyan@facebook</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fab fa-twitter-square"></i>
                      </div>
                      <div class="data">
                        <p class="semi-bold">Twitter</p>
                        <p>sivapandiyan@twitter</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fab fa-instagram"></i>
                      </div>
                      <div class="data">
                        <p class="semi-bold">Instagram</p>
                        <p>sivapandiyan@instagram</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fab fa-linkedin"></i>
                      </div>
                      <div class="data">
                        <p class="semi-bold">Linkedin</p>
                        <p>sivapandiyan@linkedin</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fab fa-github"></i>
                      </div>
                      <div class="data">
                        <p class="semi-bold">Github</p>
                        <p>sivapandiyanGithub</p>
                      </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fab fa-google-plus-g"></i>
                        </div>
                        <div class="data">
                          <p class="semi-bold">Google+</p>
                          <p>sivapandiyan@Google-plus</p>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
           </div>
           <div class="resume_right">
             <div class="resume_item resume_about">
                 <div class="title">
                    <p class="bold">CAREER OBJECTIVES</p>
                  </div>
                 <p> I am currently pursuing my B-Tech Information Technology in Adhiyamaan College of Engineering. I am a consistent
                    performer not just in studies but also in many practical experiences, because of which I have consistently put on myself
                    to work and gain experiences through many such projects along with college’s curriculum. Some of which is listed in
                    my resume attached.
                    I sincerely hope my resume highlights and stands as a proof that I can add more value to your organization and more
                    industry ready than the typical average. I enjoy working with like-minded people and I am a great team player. It’ll be a
                    great honor for me to start my career with your organization and grow with it. I hope, I will get a chance to prove myself
                    over further interview process and eventually get to work with a great organization like yours.
                    I’m looking forward to positively hearing from you soon. Have a great day ahead.
                 </p>
             </div>
             <div class="resume_item resume_work">
                 <div class="title">
                    <p class="bold">Education</p>
                  </div>
                 <ul>
                     <li>
                         <div class="date">2017 - 2021</div> 
                         <div class="info">
                              <p class="semi-bold">Adhiyamaan college of Engineering</p> 
                           <p>Anna University<br/>B.Tech/Information Technology - 75%</p>
                         </div>
                     </li>
                     <li>
                       <div class="date">2015 - 2017</div>
                       <div class="info">
                              <p class="semi-bold">Thanthai higher sec School</p> 
                           <p>State Board<br/>HSC - 70.25%</p>
                         </div>
                     </li>
                     <li>
                       <div class="date">2014 - 2015</div>
                       <div class="info">
                              <p class="semi-bold">Roever matric School</p> 
                           <p>State Board<br/>SSLC - 85.2%</p>
                         </div>
                     </li>
                 </ul>
             </div>
             <div class="resume_item resume_education">
               <div class="title">
                    <p class="bold">WORKSHOP & IN-PLANT TRAINING</p>
                  </div>
               <ul>
                     <li>
                         <div class="date">2019</div> 
                         <div class="info">
                              <p class="semi-bold">Attended workshop on "UI Devolopment"</p> 
                           <p>ACE COLLEGE OF TECHNOLOGY.<br/><p class="semi-bold">Software Devolopment" inplant training<br/></p>KAASHIV INFOTECH, Anna Nagar, 
                            Hosur.</p>
                         </div>
                     </li>
                     <li>
                       <div class="date">2020</div>
                       <div class="info">
                              <p class="semi-bold">"Network & Network Security" inplant training</p> 
                           <p>PROMPT INFOTECH, Coimbatore.<br/><p class="semi-bold">"Vulnerability Analysis" Course For Ethecal Hacking </p>in Udemy</p>
                         </div>
                     </li>
                 </ul>
             </div>
             <div class="resume_item resume_education">
                <div class="title">
                     <p class="bold">AREA OF INTEREST</p>
                   </div>
                <ul>
                      <li>
                          <div class="date">Devolopment</div> 
                          <div class="info">
                               <p> Web Devolopment</p> 
                            <p>Software Devolopment<br/>Scripting</p>
                          </div>
                      </li>
                      <li>
                        <div class="date">Analyst</div>
                        <div class="info">
                               <p>Penetration Testing</p> 
                            <p>SOC Analysis</p>
                          </div>
                      </li>
                  </ul>
              </div>
             
           </div>
         </div>

    </body>
</html>