<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Less Books</title>
        <center><h1>Welcome to Less Books</h1></center>
        <center><h3>As an independent bookstore,we strive to offer the same variety and richness of experience as the books on our shelves</h3></center>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <header class="fix">
            <div class="nav-area">
                <ul class="menu-area">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="Register.html">Register</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Contact us.html">Contact us</a></li>
                </ul>
            </div>         <br> <br><br>       
            <center><p>Each volume is a book. ... Most of the time, the word "book" means that the pages inside have words printed or written on them.
            </p></center><br>
                <center><p>Many books have photographs or drawings</p></center>
                <center><p>Some books are written just for children, or for entertainment, while other books are for studying something in school such as math or history. 
                    </p></center>
                <center><p>A book is a medium for recording information in the form of writing or images, typically composed of many pages bound together and protected by a cover.</p></center>
                <center><p>The technical term for this physical arrangement is codex.</p></center>
                <center><p>Books give plenty of joy to students, and they learn a lot of things from books. They take them into a unique world of imagination and improve their standard of living. </p></center>
                <center><p>Books help to inspire students to do hard work with courage and hope. They enrich the experience of students and sharpen their intellect.</p></center>
                <center><p>Books Inspire us, motivates us, encourage us and always make us see the right path, it makes us understand that nothing is impossible in this world</p></center>
                <center><p> It allows us to take action and help us to know our true potential</p></center>
                <center><p> Books illuminates our life, Books show us our passion and make us understand</p></center>
                

        </header>
    </body>
</html>