<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registration Page</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style2.css">  
    </head>
    <body>
        <center><h1>Registration Form</h1></center>
            Email:  
            <input type="email" id="email" placeholder="username@gmail.com" name="email"/> <br><br>
            <label>Firstname : </label>   
            <input type="text" placeholder="Enter your firstname" name="fname" required><br>  <br>
            <label>Surename : </label>   
            <input type="text" placeholder="Enter your surename" name="sname" required><br>  <br>
            <label>   
                Gender :  
                </label>
                                <input type="radio" value="Male" name="gender" checked > Male
                <input type="radio" value="Female" name="gender"> Female<br>   <br>
                <label>   
                    Phone :  
                    </label>  
                    <input type="text" name="country code" placeholder="Country Code"  value="+91" maxlength="2"/>
                    <input type="text" name="phone" placeholder="phone no" maxlength="10"/ required><br><br>
                <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required><br><br>
            <label>Re-Enter Password : </label>   
            <input type="password" placeholder="Re-Enter Password" name="password" required><br> <br> 
            <a href="C:\Users\niven_qf3tu4s\Documents\visual studio code\assignment 1\less book.html"><button>Login</button></a><br><br>
            <button type="button" class="cancelbtn"> Cancel</button>
    </body>
